*{
    font-family: 'Montserrat', sans-serif;
}

#header{
    display: flex;
}

#logo_header{
    display: flex;
    width: 50%;
    height: 64px;
    align-items: center;
}

#copo_icon{
    color: #795548;
    font-size: 40px;
    margin-left: 10px;
}

#copo_text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-style: italic;
    letter-spacing: 0.08em;
    font-size: 40px;
    margin: 0px 5px;
    color: #795548;
}

#nav_bar{
    display: flex;
    justify-content: space-around;
}

.nav_elements{
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

#nav_login{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    cursor: pointer;
}

#login_text{
    margin-top: -15px;
}

#sidenav_menu{
    width: 50%;
    display: flex;
}

.sidenav-trigger{
    align-self: flex-end;
}

#sidenav-nav{
    display: none;
}

#profile{
    display: flex;
    justify-content: flex-end;
    width: fit-content;
    align-self: flex-end;
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%);
}

#profile_text{
    font-family: 'Montserrat', sans-serif;
    color: #795548;
    font-weight: 600;
    margin: 20px 10px;
    margin-right: 0px;
}

#menu_icon{
    color: white;
    margin: 20px 10px;
}








#newsletter{
    display: flex;
    justify-content: center;
}

input[type=email]:not(.browser-default) {
    border-bottom: 2px solid #795548;
}

input[type=email]:not(.browser-default):focus:not([readonly]){
    border-bottom: 2px solid #a1887f;
    box-shadow: 0 2px 0 0 #795548;
}

input[type=email]:not(.browser-default):focus:not([readonly]) + label{
    color: #795548;
}

#input_newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 70px;
    padding-bottom: 40px;


    align-self: center;
    margin: 30px 0px 10px 0px;
    width: 70%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    background-image: url(/img/TIDEPOOL.jpg);
    background-size: cover;
    border-radius: 20px;
}

#email-send{
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px 0px;
    border-radius: 40px;
}

#input{
    margin: 0px;
    width: 80%;
    display: flex;
    margin-left: 20px;
}

#send{
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    margin: 0px 20px;
}

#mega-input{
    padding: 0px;
    width: 100%;
}

#megamega-input{
    width: 100%;
}

#newsletter-text{
    display: flex;
    flex-direction: column;
    margin: 0px 20px 10px 20px;
}
#newsletter-title{
    font-size: 50px;
    font-weight: 900;
    color: white;
}

#newsletter-subtitle{
    font-size: 18px;
    font-weight: 500;
    color: white;
}






#cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card .card-image .card-title{
    color: #795548;
    font-weight: 800;
}

.card .card-image img{
    opacity: 30%;
}

.card .card-image img:hover{
    opacity: 100%;
    transition: ease 0.5s;
}

.card_content{
    width: 40%;
    margin: 0px 20px;
}

.modal-trigger{
    color: white;
}







.modal{
    width: 97%;
    height: max-content;
}

h1{
    font-weight: 600;
    color: #795548;
}

p{
    font-size: 20px;
}







@media (max-width: 1024px){
    #copo_text{
        font-size: 32px;
    }

    #email-send{
        width: 70%;
    }

    #sidenav-nav{
        display: none;
    }
}

@media (max-width: 768px){
    #copo_text{
        font-size: 26px;
    }
    #copo_icon{
        font-size: 35px;
    }

    #sidenav-nav{
        display: none;
    }
}

@media (max-width: 480px){

    #header{
        justify-content: space-between;
    }

    #copo_icon{
        font-size: 40px;
    }

    #copo_text{
        line-height: 1.1em;
    }

    #nav_bar{
        width: 120px;
    }

    #sidenav_menu{
        width: 40%;
        justify-content: flex-end;
    }

    .nav_elements{
        display: none;
    }

    #profile{
        height: 56px;
        align-self: flex-start;
    }



    #newsletter-title{
        line-height: 0.8em;
        margin-bottom: 10px;
    }

    #email-send{
        flex-direction: column;
        align-items: center;
    }

    #input_newsletter{
        width: 90%;
    }

    #input{
        margin: 0;
    }

    #megamega-input{
        margin: 14px 0px;
    }

    #send{
        margin-bottom: 8px;
    }

    #cards{
        display: contents;
    }

    .card_content{
        width: 90%;
    }

    #sidenav-nav{
        display: contents;
        background-color: #d7ccc8;
    }

    h1{
        font-size: 3.6rem;
    }
}